        /* ラジオボタン全体 */
        .radio_group {
            margin: 1rem auto;
            width: 240px;
            max-width: 100%;
            /* width: fit-content; */
        }

        /* 1行ごとの余白 */
        .radio_group > div {
            margin-bottom: 0.5rem;
        }

        /* ?アイコン */
        .question {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-left: 6px;
        }

        .pointer {
            cursor: pointer;
        }