        /* ラジオボタン全体 */
        .radio_group {
            width: -webkit-fit-content; /* Safari対策 */
            width: fit-content;
            margin: 1rem auto;   /* 中央寄せ */
            width: 240px;     /* Safari対策 */
            max-width: 100%;      /* Safari対策 */
        }

        /* 1行ごとの余白 */
        .radio_group > div {
            margin-bottom: 0.5rem;
        }

        /* ?アイコン */
        .question {
            width: 16px;
            height: 16px;
            vertical-align: middle;
            margin-left: 6px;
        }

        .pointer {
            cursor: pointer;
        }